ion-content {
  --background: var(--ion-color-light);
}

ion-card {
  box-shadow: rgb(0 0 0 / 6%) 0px 4px 16px;
  border-radius: 12px;
  margin: 24px 16px 12px 16px;
}

ion-list ion-item:last-child {
  --border-color: transparent;
}

.lbl-contrast {
  font-size: 13px;
  margin: 0 32px;
}
