<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Display & Text Size
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item>Bold Text
        <ion-toggle slot="end" color="success" [enableOnOffLabels]="onOffLabelsEnabled"></ion-toggle>
      </ion-item>
      <ion-item [detail]="true">Larger Text</ion-item>
      <ion-item>Button Shapes
        <ion-toggle slot="end" color="success" [enableOnOffLabels]="onOffLabelsEnabled"></ion-toggle>
      </ion-item>
      <ion-item>On/Off Labels
        <ion-toggle slot="end" [enableOnOffLabels]="true" color="success"
          (ionChange)="onOnOffLabelsChanged($any($event.target).checked)">
        </ion-toggle>
      </ion-item>
      <ion-item>Reduce Transparency
        <ion-toggle slot="end" color="success" [enableOnOffLabels]="onOffLabelsEnabled"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="lbl-contrast">
    <ion-label color="medium">Improve contrast by reducing transparency and blurs on some backgrounds
      to increase
      legibility.</ion-label>
  </div>
</ion-content>
